* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  background-image: url("/image/FAQs2\ \(1\).png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  /* overflow-x:hidden; */

}
h1 {
  color: white;
  text-align: center;
  margin: 40px 0;
}
@font-face {
  font-family: questionFont;
  src: url("/font/sk-concretica.ttf");
}
h3 {  
  font-family: questionFont;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 18px;
  margin-right: 30px;
}
.nowrap{
  text-wrap: nowrap;
}
.faq-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 12px;
}
.faq-box {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  column-gap: 30px;
  width: 100%;

  color: white;
  border: 1px solid #427A78;
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(0.1px);
  border-radius: 8px;
  box-shadow: 20px, 20px, 22px, rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px #427A78;
}
.faq-box:last-child{
  margin-bottom:  0px;
}
.faq-box-question {
  margin: 0px 10px 0px 10px;
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items:center;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.faq-box-icon {
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
}

.faq-box-icon::before,
.faq-box-icon::after{
  background: white;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px;
  transition: all ease-in-out 0.2s;
}
.faq-box-icon::before{
  top: 0px;
}
.faq-box-icon::after{
  top: 0px;
  transform: rotate(90deg);
}
.faq-box-question.active .faq-box-icon::after {
  transform: rotate(0deg);
}
.faq-box-answer{
  max-height: 0px;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
}

.faq-box-answer p {
  margin-top: 20px;
}

.container {
  margin-left: 10vw;
  margin-right: 10vw;
  border: 1px solid red;
  margin-bottom: 150px;
  padding-bottom: 100px;
}
/* xs */
@media (min-width: 475px) { 
  .container {
    max-width: 475px;
  }
  h3 {
    font-family: questionFont;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 20px;
  }
}
/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  h3 {
    font-family: questionFont;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 22px;
  }
}
/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  h3 {
    font-family: questionFont;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 24px;
  }
}
/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  h3 {
    font-family: questionFont;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 26px;
  }
}
/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  h3 {
    font-family: questionFont;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 28px;
  }
}
/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  h3 {
    font-family: questionFont;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 30px;
  }
  .container {
    margin-left: 10vw;
    margin-right: 10vw;
  /*   border: 1px solid red; */
  }

  .faq-box-container {
    row-gap: 1rem;
  }
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {}*/

/* 2xl */
/* @media (min-width: 1536px) {} */
